.cd{
	height: 600px;
	overflow-x: auto;
	background: #051525;
}
.lit{
	height: 600px;
	background: #051525;
	overflow-x: auto;
	
}
.nav-btn{
	background-color: none;
}
.nav-btn a {
	background-color: #051525;
}

.nav-btn a:hover{
	background-color: #181A25;
}
body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center ;
	background-size: cover;
	color: #FFFFFF;
	position: relative;
}
.ai{
	text-decoration: none;
	border: #051525;
	color: #FFFFFF;
}
.ai:hover{
	background-color: #181A25;
}
.add{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background:#03DAC6 ;
}
.add-btn{
	position: absolute;
	bottom:10px;
}
